.mp-gallery-modal {
    position: fixed;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.75);
    width: 100vw;
    height: 100vh;
    top:0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .mp-gallery-modal-content {
        margin: 0 auto;
        height: 80vh;
        max-width: 90vw;
        .mp-gallery-modal-image {
            height: 80vh;
            max-width: 90vw;
            object-fit: cover;
        }
    }

    .mp-gallery-header {
        background-color: var(--bg-color);
        padding: 0.5em;
        display: flex;
        p {
            color: var(--base-font-color);
            margin: 0.75em;
            font-size: 12px;
        }
        img{
            border-radius: 50%;
            max-width: 32px;
            max-height: 32px;
        }
    }
}

.mp-chevron-left {
    color: var(--low-contrast-color);
    margin-left: 1em;
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px;
    border: 2px solid transparent;
    border-radius: 100px
   }
   
.mp-chevron-left::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid;
    border-left: 2px solid;
    transform: rotate(45deg);
    left: 6px;
    top: 4px;
} 

.mp-chevron-right {
    color: var(--low-contrast-color);
    margin-right: 1em;
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px;
    border: 2px solid transparent;
    border-radius: 100px;
   }
   
.mp-chevron-right::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid;
    border-right: 2px solid;
    transform: rotate(-45deg);
    right: 6px;
    top: 4px;
} 

.mp-close {
    color: var(--low-contrast-color);
    position: fixed;
    top:1em;
    right:1em;
    box-sizing: border-box;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px;
    border: 2px solid transparent;
    border-radius: 40px
   }
   
   .mp-close::after,
   .mp-close::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 16px;
    height: 2px;
    background: currentColor;
    transform: rotate(45deg);
    border-radius: 5px;
    top: 8px;
    left: 1px
   }
   
   .mp-close::after {
    transform: rotate(-45deg)
   } 