.mp-header {
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    position: sticky;
    padding: 1em 0;
    transition: all 0.5s ease;
    &.mp-header-scroll {
        padding: 0.5em 0; 
        h1 {
            @include md {
                font-size: 1.5em;
            }
        } 
    }
    @media(prefers-color-scheme: dark) {
        body {
          background-color: black;
        }
      }
    h1 {
        transition: all 0.5s ease;
        font-family: 'Shippori Mincho', serif;
        font-size: 1.5em;
        @include md {
            font-size: 2em;
        }
    }
    span {
        font-size: 0.5em;
        font-family: sans-serif;
        font-weight: 100;
        position: relative;
        top: -10px;
    }
}